@import "meta";

@import '../node_modules/normalize.css/normalize.css';

.btn {
    @include theme-button;
}

input[type=email],
input[type=password],
input[type=text],
input[type=tel],
textarea {
    border     : 1px solid $for-general-color-primary;
    background : #ffffff;
    transition : $theme--transition;
    color      : $for-general-font-color;
    padding    : $theme--input--padding;
    &:hover {
        border-color : $for-general-color-secondary;
        color        : $for-general-color-secondary;
    }
}

label {
    display : block;
}

a,
li a,
p a {
    color      : $for-general-color-primary;
    transition : $theme--transition;
    &:hover {
        color : $for-general-color-secondary;
    }
}

/*ul {
    padding-left : 30px;
    li {
        padding : 2px 0;
    }
}*/

.header--top,
.header--content .inner,
.content-end,
.content-inside,
.content-begin,
.footer,
.footer--copyright {
    @include for-container;
}

.google-maps {
    iframe {
        width  : 100%;
        height : 425px;
    }
}

.contact-form {
    input,
    textarea {
        display       : block;
        margin-bottom : 3px;
    }
}

.nav-service {
    @include for-clearfix;
    ul {
        background : rgba($for-general-color-primary, 0.13);
        float      : right;
        margin     : 0;
        padding    : 0;
    }

    li {
        margin          : 0;
        float           : left;
        list-style-type : none;
        a {
            display : inline-block;
            padding : 5px 10px;
        }
    }
}

.nav-header {
    margin-top : 15px;

    ul {
        @include for-clearfix;
        margin     : 0;
        padding    : 5px 0;
        background : rgba($for-general-color-secondary, 0.07);
    }

    li {
        margin          : 0;
        padding         : 0;
        float           : left;
        list-style-type : none;
        a {
            display : inline-block;
            padding : 5px 10px;
        }
    }
}

.content-inside {
    padding: 0 10px;
}

.footer--container {
    padding    : 15px 5px 5px 5px;
    text-align : center;
}

blockquote {
    position    : relative;
    margin      : 0 0 20px;
    padding     : 8px 20px 3px 45px;
    display     : block;
    background  : $for-grayscale-base-p2;
    font-size   : 1em;
    line-height : 1.3;
    border    : {
        left  : 15px solid $for-general-color-secondary;
        right : 2px solid $for-general-color-secondary;
    }

    &::before {
        content  : '\201C';
        font       : {
            size   : 65px;
            weight : bold;
        }
        color    : $for-general-color-secondary;
        position : absolute;
        left     : 10px;
        top      : -10px;
    }

    p {
        margin : 8px;
        color  : $for-general-color-primary;
    }

    em {
        font-style : italic;
    }
}

@import "design";