////
/// List
/// ================
/// basic mixin: @for-list
/// @group List
/// @author Michael Becker
////

/// Generates the size and property of a for-container with the required breakpoints and centered margin
/// @output none
@mixin for-list {

    @include for-bp-smx {

    }

    @include for-bp-sm {

    }

    @include for-bp-md {

    }

    @include for-bp-lg {

    }

    @include for-bp-lgx {

    }
}