////
/// Grid: Gutter Config
/// ================
///
/// @group Grid:Gutter
/// @author Michael Becker
////

/// @prop {Size} $for-gutter-base [6px] - used as base on the factors in the named gutters
$for-gutter-base : 6px !default;

/// @prop {Size} $for-gutter-thickest [] - gutter size for thickest
$for-gutter-thickest : $for-gutter-base * 5 !default;

/// @prop {Size} $for-gutter-thicker [] - gutter size for thicker
$for-gutter-thicker : $for-gutter-base * 4 !default;

/// @prop {Size} $for-gutter-thick [] - gutter size for thick
$for-gutter-thick : $for-gutter-base * 3 $for-gutter-base * 2 !default;

/// @prop {Size} $for-gutter-normal [] - gutter size for normal
$for-gutter-normal : $for-gutter-base * 2 $for-gutter-base * 2 !default;

/// @prop {Size} $for-gutter-thin [] - gutter size for thin
$for-gutter-thin : $for-gutter-base * 1.5 !default;

/// @prop {Size} $for-gutter-thinner [] - gutter size for thinner
$for-gutter-thinner : $for-gutter-base * 1 !default;

/// @prop {Size} $for-gutter-thinnest [] - gutter size for thinnest
$for-gutter-thinnest : $for-gutter-base * 0.5 !default;

/// @prop {Size} $for-gutter-lgx [$for-gutter-thick] - the gutter thicknest applied to bp-lgx
$for-gutter-lgx : $for-gutter-thick !default;
/// @prop {Size} $for-gutter-lg [$for-gutter-thick] - the gutter thicknest applied to bp-lg
$for-gutter-lg : $for-gutter-thick !default;
/// @prop {Size} $for-gutter-md [$for-gutter-normal] - the gutter thicknest applied to bp-md
$for-gutter-md : $for-gutter-normal !default;
/// @prop {Size} $for-gutter-sm [$for-gutter-normal] - the gutter thicknest applied to bp-sm
$for-gutter-sm : $for-gutter-normal !default;
/// @prop {Size} $for-gutter-smx [$for-gutter-thin] - the gutter thicknest applied to bp-smx
$for-gutter-smx : $for-gutter-thin !default;