.container:after, .header:after, .searchbar:after {
    content : "";
    display : table;
    clear   : both
}

.visually-hidden {
    width    : 1px;
    height   : 1px;
    position : absolute;
    padding  : 0;
    margin   : -1px;
    overflow : hidden;
    clip     : rect(0 0 0 0);
    border   : 0
}

.sidebar__title {
    text-overflow : ellipsis;
    overflow      : hidden;
    white-space   : nowrap
}

code[class*='language-'], pre[class*='language-'] {
    color           : #bfbfbf;
    text-shadow     : 0;
    font-family     : Consolas, Monaco, 'Andale Mono', monospace;
    direction       : ltr;
    text-align      : left;
    white-space     : pre-wrap;
    word-spacing    : normal;
    word-break      : normal;
    -moz-tab-size   : 4;
    -o-tab-size     : 4;
    tab-size        : 4;
    -webkit-hyphens : none;
    -moz-hyphens    : none;
    -ms-hyphens     : none;
    hyphens         : none
}

pre[class*='language-']::-moz-selection, pre[class*='language-'] ::-moz-selection, code[class*='language-']::-moz-selection, code[class*='language-'] ::-moz-selection {
    text-shadow : none;
    background  : #b3d4fc
}

pre[class*='language-']::selection, pre[class*='language-'] ::selection, code[class*='language-']::selection, code[class*='language-'] ::selection {
    text-shadow : none;
    background  : #b3d4fc
}

@media print {
    code[class*='language-'], pre[class*='language-'] {
        text-shadow : none
    }
}

pre[class*='language-'] {
    padding  : 0.5em 1em;
    margin   : .5em 0;
    overflow : auto
}

:not(pre) > code[class*='language-'], pre[class*='language-'] {
    background : #262626
}

:not(pre) > code[class*='language-'] {
    padding       : .1em;
    border-radius : .3em
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
    color : slategray
}

.token.punctuation {
    color : #999999
}

.namespace {
    opacity : .7
}

.token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol {
    color : #de479b
}

.token.selector, .token.attr-name, .token.string, .token.builtin {
    color : #669900
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string, .token.variable {
    color : #ffffff
}

.token.atrule, .token.attr-value, .token.keyword {
    color : #3dc9da
}

.token.regex, .token.important {
    color : #ee9900
}

.token.important {
    font-weight : bold
}

.token.entity {
    cursor : help
}

html {
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box
}

*, *::after, *::before {
    -webkit-box-sizing : inherit;
    -moz-box-sizing    : inherit;
    box-sizing         : inherit
}

body {
    color    : #bfbfbf;
    font     : 1em/1.35 "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    overflow : auto;
    margin   : 0
}

a {
    transition      : 0.15s;
    text-decoration : none;
    color           : #ff840990;
}

a:hover, a:hover code {
    color : #ff8409;
}

table p {
    margin : 0 0 0.5rem
}

:not(pre) > code {
    color       : #ff840990;
    white-space : pre-wrap;
    font-weight : normal
}

@media (max-width : 800px) {
    table, tbody, tr, td, th {
        display : block
    }

    thead {
        width    : 1px;
        height   : 1px;
        position : absolute;
        padding  : 0;
        margin   : -1px;
        overflow : hidden;
        clip     : rect(0 0 0 0);
        border   : 0
    }

    tr {
        padding-bottom : 1em;
        margin-bottom  : 1em;
        border-bottom  : 2px solid #dddddd
    }

    td::before, th::before {
        content        : attr(data-label) ": ";
        text-transform : capitalize;
        font-weight    : bold
    }

    td p, th p {
        display : inline
    }
}

.list-unstyled {
    font-size     : 0.8em;
    padding-left  : 0;
    list-style    : none;
    line-height   : 1.1;
    color         : #bfbfbf;
    margin-top    : 0;
    margin-bottom : 0.5rem
}

.list-unstyled p {
    margin : 0.1em;
}

.list-unstyled a code {
    font-size : 1.2em
}

.list-unstyled .sidebar__item {
    font-size  : 1.1em;
    transition : 0.4s background-color linear;
}

.list-inline li {
    display : inline-block
}

.container {
    max-width : 100%;
    width     : 1170px;
    margin    : 0 auto;
    padding   : 0 2rem
}

.relative {
    position : relative
}

.clear {
    clear : both
}

.header {
    position   : fixed;
    top        : 0;
    right      : 0;
    padding    : 1em 0;
    background : #ff8409;
    color      : #7f7f7f;
    z-index    : 4000
}

@media (min-width : 801px) {
    .header {
        left       : 280px;
        transition : 0.2s cubic-bezier(0.215, 0.61, 0.355, 1)
    }
}

@media (min-width : 1330px) {
    .header {
        left : 360px
    }
}

.header__title {
    font-weight : 500;
    text-align  : center;
    margin      : 0 0 0.5em 0
}

.header__title a {
    color : #e0e0e0
}

@media (min-width : 801px) {
    .header__title {
        float         : left;
        font-size     : 1em;
        margin-top    : .25em;
        margin-bottom : 0
    }
}

.searchbar {
    display : inline-block;
    float   : right
}

@media (max-width : 800px) {
    .searchbar {
        display : block;
        float   : none
    }
}

.searchbar__form {
    float    : right;
    position : relative
}

@media (max-width : 800px) {
    .searchbar__form {
        float : none
    }
}

@media (min-width : 801px) {
    .searchbar__form {
        min-width : 15em
    }
}

.searchbar__field {
    border    : none;
    padding   : 0.5em;
    font-size : 1em;
    margin    : 0;
    width     : 100%;
    border    : 1px solid #e0e0e0
}

.searchbar__suggestions {
    position   : absolute;
    top        : 100%;
    right      : 0;
    left       : 0;
    border     : 1px solid #e0e0e0;
    background : #262626;
    padding    : 0;
    margin     : 0;
    list-style : none;
    z-index    : 2
}

.searchbar__suggestions:empty {
    display : none
}

.searchbar__suggestions .selected {
    background : #dddddd
}

.searchbar__suggestions li {
    border-bottom : 1px solid #e0e0e0
}

.searchbar__suggestions li:last-of-type {
    border : none
}

.searchbar__suggestions a {
    display   : block;
    padding   : 0.5em;
    font-size : 0.9em
}

.searchbar__suggestions a:hover, .searchbar__suggestions a:active, .searchbar__suggestions a:focus {
    background : #e0e0e0
}

.searchbar__suggestions code {
    margin-right : .5em
}

@media (min-width : 801px) {
    .sidebar {
        position     : fixed;
        top          : 0;
        bottom       : 0;
        left         : 0;
        overflow     : auto;
        z-index      : 2;
        border-right : 1px solid #e0e0e0;
        transition   : color 0.4s ease-out, background 0.4s ease-out;
    }
}

@media (max-width : 800px) {
    .sidebar {
        margin-top : 4em
    }
}

.sidebar__annotation {
    color : #5c4863
}

.sidebar__item {
    font-size : 0.9em
}

.sidebar__item a {
    display         : block;
    text-decoration : none;
    color           : #bfbfbf;
    transition      : color 0.4s ease-out
}

.sidebar__item:hover a {
    color : #3e3e3e
}

.sidebar__item:hover, .sidebar__item:active, .sidebar__item:focus {
    background : #e0e0e0
}

.sidebar__item.is-collapsed + * {
    display : none
}

.sidebar__item--heading {
    padding : 2em 1.5em;
    margin  : 0;
}

.sidebar__item--heading a {
    font-weight : bold
}

.sidebar__item--sub-heading a {
    color : #ff8409
}

.sidebar__item--heading, .sidebar__item--sub-heading {
    position : relative
}

.sidebar__item--heading:hover:after, .sidebar__item--sub-heading:hover:after {
    color : #ff840990;
}

.sidebar__item--heading:after, .sidebar__item--sub-heading:after {
    position   : absolute;
    top        : 50%;
    right      : 2em;
    content    : '\25BC';
    margin-top : -0.5em;
    color      : #dddddd;
    font-size  : 0.7em
}

.sidebar__item--heading.is-collapsed:after, .sidebar__item--sub-heading.is-collapsed:after {
    content : '\25B6'
}

.sidebar__item--heading a, .sidebar__item--sub-heading a {
    padding : 0;
    display : inline
}

.sidebar__description {
    color         : #e0e0e0;
    padding-right : 2em
}

.sidebar__header {
}

.sidebar__title {
    font-size : 1em;
    margin    : 0;
    padding   : 1.5em;
}

.btn-toggle {
    background    : #e9e9e900;
    border        : none;
    border-top    : 1px solid #bfbfbf;
    border-bottom : 1px solid #bfbfbf;
    display       : block;
    padding       : 1em;
    width         : 100%;
    cursor        : pointer;
    color         : #bfbfbf;
    font-weight   : bold;
    margin        : 0;
    transition    : background 0.4s ease-out, color 0.4s ease-out;
}

.btn-toggle:hover, .btn-toggle:active, .btn-toggle:focus {
    background : #e9e9e9;
    color      : #3e3e3e;
}

.main {
    background : #3e3e3e;
    position   : relative
}

@media (min-width : 801px) {
    .main {
        transition  : color 0.4s ease-out, background 0.4s ease-out;
        padding-top : 4em;
        min-height  : 45em
    }
}

.main__section {
    margin-top : 5em;
    border-top : 5px solid rgba(92, 72, 99, 0.2)
}

.header + .main__section {
    margin-top : 0;
    border-top : none
}

.main__heading, .main__heading--secondary {
    padding    : 1em 0;
    margin-top : 0
}

@media (min-width : 801px) {
    .main__heading, .main__heading--secondary {
        padding : 2em 0 0
    }
}

.main__heading {
    color          : #6ab42a88;
    font-size      : 3.5em;
    text-align     : center;
    text-transform : capitalize;
    border-top     : 5px solid #6ab42a;
    padding-bottom : 1.5em;
    margin-bottom  : 1em;
    background     : #262626;
    padding-top    : 1.3em
}

.main__heading--secondary {
    font-size      : 3em;
    color          : #ff840990;
    text-transform : uppercase;
    font-weight    : bold;
    padding-top    : 0;
    margin-bottom  : -1rem;
    position       : relative
}

.main__heading--secondary .container {
    overflow      : hidden;
    white-space   : nowrap;
    text-overflow : ellipsis
}

.main__heading--secondary::before {
    content          : '';
    position         : absolute;
    left             : 0;
    right            : 0;
    bottom           : 0.19em;
    height           : 0.1em;
    background-color : #ff840990
}

.footer {
    background : #e0e0e0;
    padding    : 1em 0
}

.footer .container {
    position : relative
}

.footer__project-info {
    float : left
}

.footer__watermark {
    position : absolute;
    right    : 0;
    top      : -0.7em
}

.footer__watermark img {
    display   : block;
    max-width : 7em
}

.project-info__name, .project-info__version, .project-info__license {
    display : inline-block
}

.project-info__version, .project-info__license {
    color : #555555
}

.project-info__license {
    text-indent : -0.25em
}

.main__section {
    margin-bottom : 4.5rem
}

.item__heading {
    color       : #333333;
    margin      : 2.5rem 0 1.5rem 0;
    position    : relative;
    font-size   : 1em;
    font-weight : 300;
    float       : left
}

.item__name {
    color : #ff840990
}

.item__example {
    margin-bottom : 1.5rem
}

.item__example,
.item__code {
    border      : 1px solid #797979;
    word-wrap   : break-word;
    line-height : 1.42
}

.item__code {
    padding-right : 7em;
    clear         : both;
    cursor        : pointer
}

.item__code--togglable::after {
    position   : absolute;
    right      : 0;
    bottom     : -2.5em;
    -ms-filter : "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity    : 0;
    color      : #c4c4c4;
    font-size  : 0.8em;
    transition : 0.2s ease-out
}

.item__code--togglable:hover::after, .item__code--togglable:active::after, .item__code--togglable:focus::after {
    -ms-filter : "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity    : 1
}

.item__code--togglable[data-current-state='expanded']::after {
    content : 'Click to collapse.'
}

.item__code--togglable[data-current-state='collapsed']::after {
    content : 'Click to expand.'
}

.example__description {
    padding    : 1em;
    background : #efefef
}

.example__description p {
    margin : 0
}

.example__code[class*='language-'] {
    margin : 0
}

.item__anchor {
    font-size : 0.6em;
    color     : #eeafb9
}

@media (min-width : 801px) {
    .item__anchor {
        position   : absolute;
        right      : 101%;
        bottom     : 0.25em;
        -ms-filter : "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        opacity    : 0
    }

    .item:hover .item__anchor {
        -ms-filter : "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        opacity    : 1
    }
}

.item__deprecated {
    display     : inline-block;
    overflow    : hidden;
    margin-top  : 5.5em;
    margin-left : 1em
}

.item__deprecated strong {
    float          : left;
    color          : #cc0000;
    text-transform : uppercase
}

.item__deprecated p {
    float        : left;
    margin       : 0;
    padding-left : 0.5em
}

.item__type {
    color          : #dddddd;
    text-transform : capitalize;
    font-size      : 0.75em
}

.item__alias, .item__aliased {
    color     : #dddddd;
    font-size : 0.8em
}

.item__sub-heading {
    color         : #7d7d7d;
    margin-top    : 0;
    margin-bottom : 0.3rem;
    font-size     : 0.8em
}

.item__parameters {
    width           : 100%;
    margin-bottom   : 1em;
    border-collapse : collapse
}

.item__parameters thead th {
    vertical-align : bottom;
    border-bottom  : 2px solid #797979;
    border-top     : none;
    text-align     : left;
    font-size      : 0.9em;
    color          : #6ab42a70
}

.item__parameters th code {
    color : #ffffff
}

.item__parameters th {
    text-align : left;
    /*font-size: 1.2em*/
}

.item__parameters td,
.item__parameters th {
    padding        : 0.3em 0.5em 0.3em 0;

    vertical-align : baseline;
}

.item__parameters td p {
    font-size : 0.8em;
    margin    : 0.4em 0 0 0
}

@media (min-width : 801px) {
    tbody > .item__parameter:first-of-type > td {
        border-top : none
    }

    .item__parameters td, .item__parameters th {
        border-top : 1px solid #dddddd
    }
}

.item__access {
    text-transform : capitalize;
    color          : #5c4863;
    font-size      : 0.8em
}

.item__since {
    float         : right;
    padding-top   : 0.9em;
    color         : #c4c4c4;
    margin-bottom : 1em
}

.item__source-link {
    position   : absolute;
    top        : 1px;
    right      : 1px;
    background : transparent;
    padding    : 0.4em;
    z-index    : 2;
    color      : #c4c4c4;
    font-size  : 0;
}

.item__source-link:before {
    content   : "org. File >";
    font-size : 0.8rem;
}

li.item__description {
    margin-bottom : 0
}

.item__description--inline > * {
    display : inline-block;
    margin  : 0
}

.item__code-wrapper {
    position      : relative;
    clear         : both;
    margin-bottom : 1.5rem
}

.color-preview--inline {
    padding       : 2px 4px;
    border        : 1px solid rgba(0, 0, 0, 0.1);
    border-radius : 3px
}

.color-preview--block {
    width         : 2em;
    height        : 2em;
    position      : absolute;
    top           : 140%;
    right         : 0;
    top           : calc(100% + 20px);
    border        : 1px solid rgba(0, 0, 0, 0.1);
    border-radius : 3px
}

.token.function {
    color : #6ab42a
}

.item__parameter {
    color : #bfbfbf
}

.main__section > h1 {
    word-break : break-all;
}

.layout-toggle {
    position  : absolute;
    width     : 33px;
    height    : 45px;
    top       : 19px;
    left      : 20px;
    font-size : 0;
    cursor    : pointer;
    color     : white;
    display   : block
}

.sidebar-closed .layout-toggle {
    font-size : 0;
}

.layout-toggle:after,
.layout-toggle:before {
    content            : ' ';
    display            : block;
    width              : 18px;
    height             : 4px;
    background-color   : #ffffff;
    margin             : 3px;
    -webkit-transition : transform .6s ease-in-out;
    -moz-transition    : transform .6s ease-in-out;
    -ms-transition     : transform .6s ease-in-out;
    -o-transition      : transform .6s ease-in-out;
    transition         : transform .6s ease-in-out;
}

.layout-toggle:after {
    -webkit-transform : translateY(190%) rotate(45deg);
    -moz-transform    : translateY(190%) rotate(45deg);
    -ms-transform     : translateY(190%) rotate(45deg);
    transform         : translateY(190%) rotate(45deg);
}

.layout-toggle:before {
    -webkit-transform : translateY(190%) rotate(-45deg);
    -moz-transform    : translateY(190%) rotate(-45deg);
    -ms-transform     : translateY(190%) rotate(-45deg);
    transform         : translateY(190%) rotate(-45deg);
}

.sidebar-closed .layout-toggle:after {
    -webkit-transform : translateY(190%) rotate(-45deg);
    -moz-transform    : translateY(190%) rotate(-45deg);
    -ms-transform     : translateY(190%) rotate(-45deg);
    transform         : translateY(190%) rotate(-45deg);
}

.sidebar-closed .layout-toggle:before {
    -webkit-transform : translateY(190%) rotate(45deg);
    -moz-transform    : translateY(190%) rotate(45deg);
    -ms-transform     : translateY(190%) rotate(45deg);
    transform         : translateY(190%) rotate(45deg);
}

.sidebar__item {
    display : inline-block;
}

.sidebar__item:not(.is-collapsed):after {
    color : #ff8409;
}

.item__cross-type {
    color       : #bfbfbf;
    font-family : 'Consolas', 'Monaco', 'Andale Mono', monospace;
    font-size   : 0.9em
}

.item__description {
    color         : #bfbfbf;
    margin-bottom : 1.5rem;
}

.item__description p {
    margin : 0.3em 0;
}

.sidebar__body > div > .list-unstyled .sidebar__item a {
    padding : 0.75em 3em;
}

.sidebar__body > div > .list-unstyled {
    margin-bottom : 0;
}

.sidebar__body > div > .sidebar__item.sidebar__item--sub-heading {
    margin  : 0;
    padding : 0.75em 2em;
}

@media (max-width : 800px) {
    .sidebar {
        position   : fixed;
        left       : 0;
        right      : 0;
        z-index    : 2;
        background : white;
        overflow-x : auto;
        overflow-y : scroll;
        height     : 100%;
    }

    .sidebar .list-unstyled {

    }

    .sidebar__item {
        width : 100%;
    }

    .layout-toggle {
        left : 5px;
        top  : 17px;
    }

    .main {
        position : fixed;
        overflow : hidden;
    }

    .sidebar-closed .main {
        position : relative;
        overflow : auto;
    }

    .sidebar-closed .sidebar {
        -webkit-transform : translateX(-100%);
        -ms-transform     : translateX(-100%);
        transform         : translateX(-100%);
    }

    .searchbar {
        margin-left : 10px;
    }
}

@media (max-width : 400px) {
    .sidebar__item {
        width : 100%;
    }
}

@media (min-width : 801px) {
    #js-search,
    .searchbar {
        width : 90%;
    }

    .sidebar-closed .sidebar {
        -webkit-transform : translateX(-280px);
        -ms-transform     : translateX(-280px);
        transform         : translateX(-280px)
    }

    .sidebar {
        width : 280px;
    }

    .sidebar__item {
        width : 100%;
    }

    .main {
        padding-left : 280px;
    }

    .sidebar-closed .main {
        padding-left : 0;
    }

    .sidebar-closed .header {
        left : 0;
    }

    .sidebar__body > div > .sidebar__item.sidebar__item--sub-heading:hover a {
        color : #ff840990;
    }

    .sidebar__body > div > .sidebar__item.sidebar__item--sub-heading {
        background-color : #464646;
    }

    .sidebar__body > div > .list-unstyled {
        background-color : #505050;
    }
}

@media (min-width : 1330px) {
    .sidebar-closed .sidebar {
        -webkit-transform : translateX(-360px);
        -ms-transform     : translateX(-360px);
        transform         : translateX(-360px)
    }

    .sidebar {
        width : 360px;
    }

    .sidebar__item {
        width : 100%;
    }

    .sidebar-closed .main {
        padding-left : 0
    }

    .sidebar-closed .header {
        left : 0
    }

    .sidebar__item.sidebar__item--sub-heading {
        width : 100%;
    }

    .sassdoc__item {
        vertical-align : top;
    }

    /*.sassdoc__item:nth-child(2n) {
        border-left: 1px solid #3e3e3e;
    }
    .sassdoc__item:last-child {
        border-right: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }*/
    .main__section .main__sub-section .main__item {
        position : relative;
    }

    .main__section .main__sub-section .main__item.container.item > h3:not(:first-child):last-of-type {
        position : absolute;
        top      : 58px;
        right    : 2rem;
    }

    .main__section .main__sub-section .main__item.container.item > ul:last-child {
        position : absolute;
        top      : 43px;
        right    : 2rem;
        color    : #7d7d7d;
    }

    .main__section .main__sub-section .main__item.container.item:before {
        content          : ' ';
        display          : block;
        width            : 17px;
        height           : 3px;
        background-color : #7d7d7d;
        position         : absolute;
        /*left: 360px;*/
        left             : 0;
        margin-top       : 105px;
    }

    .main {
        padding-left : 360px;
    }

    #js-search {
        width   : 100%;
        display : block;
    }

    .searchbar {
        width : 90%;
    }
}